sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg29htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg29htm02 {
	height: 51em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 66em;
}
.pg29htm03 {
	position: relative;
}
.pg29htm04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.pg29htm05 {
	position: relative;
	width: 66em;
}
.pg29htm06 {
	height: 5.1em;
}
.ie .pg29htm06 {
	height: 51em;
}
.pg29htm07 {
	transform: scale(1,0.9982033);
	-o-transform: scale(1,0.9982033);
	-ms-transform: matrix(1,0,0,0.9982033,0,-1.451648);
	-moz-transform: scale(1,0.9982033);
	-webkit-transform: scale(1,0.9982033);
}
@font-face {
	font-family:"UWOKJT+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=84b6f6df-0001-0000-0000-000000000000.woff") format("woff");
}
.pg29htm08 {
	font-size: 0.941692em;
	font-family: "UWOKJT+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg29htm09 {
	line-height: 1.107422em;
}
.pg29htm10 {
	letter-spacing: 0.0057em;
}

.ie .pg29htm10 {
	letter-spacing: 0.0866px;
}
@font-face {
	font-family:"IGOADN+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=26786d4d-0001-0000-0000-000000000000.woff") format("woff");
}
.pg29htm11 {
	font-size: 0.941692em;
	font-family: "IGOADN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg29htm12 {
	font-size: 1.092363em;
	font-family: "UWOKJT+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg29htm13 {
	letter-spacing: 0.005em;
}

.ie .pg29htm13 {
	letter-spacing: 0.0866px;
}
.pg29htm14 {
	transform: scale(1,0.9982033);
	-o-transform: scale(1,0.9982033);
	-ms-transform: matrix(1,0,0,0.9982033,0,-1.4);
	-moz-transform: scale(1,0.9982033);
	-webkit-transform: scale(1,0.9982033);
}
.pg29htm15 {
	font-size: 1.017019em;
	font-family: "UWOKJT+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg29htm16 {
	letter-spacing: 0.0003em;
}

.ie .pg29htm16 {
	letter-spacing: 0.005px;
}
.pg29htm17 {
	font-size: 1.017019em;
	font-family: "IGOADN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"MUWCCA+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=484e765e-0000-0000-0000-000000000000.woff") format("woff");
}
.pg29htm18 {
	font-size: 1.092363em;
	font-family: "MUWCCA+TimesNewRomanPSMT";
	color: #000000;
}
.pg29htm19 {
	letter-spacing: 0.0013em;
}

.ie .pg29htm19 {
	letter-spacing: 0.0226px;
}
@font-face {
	font-family:"DHMLVV+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=948fa591-0000-0000-0000-000000000000.woff") format("woff");
}
.pg29htm20 {
	font-size: 1.092363em;
	font-family: "DHMLVV+TimesNewRomanPSMT";
	color: #000000;
}
.pg29htm21 {
	transform: scale(1,0.9982033);
	-o-transform: scale(1,0.9982033);
	-ms-transform: matrix(1,0,0,0.9982033,0,-1.25142);
	-moz-transform: scale(1,0.9982033);
	-webkit-transform: scale(1,0.9982033);
}
.pg29htm22 {
	font-size: 0.941692em;
	font-family: "MUWCCA+TimesNewRomanPSMT";
	color: #000000;
}
.pg29htm23 {
	letter-spacing: -0.0027em;
}

.ie .pg29htm23 {
	letter-spacing: -0.0401px;
}
.pg29htm24 {
	letter-spacing: -0.0014em;
}

.ie .pg29htm24 {
	letter-spacing: -0.0215px;
}
.pg29htm25 {
	font-size: 0.941692em;
	font-family: "DHMLVV+TimesNewRomanPSMT";
	color: #000000;
}
.pg29htm26 {
	letter-spacing: -0.001em;
}

.ie .pg29htm26 {
	letter-spacing: -0.0151px;
}
.pg29htm27 {
	letter-spacing: 0em;
}

.ie .pg29htm27 {
	letter-spacing: -0.0003px;
}
.pg29htm28 {
	letter-spacing: -0.0053em;
}

.ie .pg29htm28 {
	letter-spacing: -0.0796px;
}
.pg29htm29 {
	transform: scale(1,0.9982033);
	-o-transform: scale(1,0.9982033);
	-ms-transform: matrix(1,0,0,0.9982033,0,-1.151307);
	-moz-transform: scale(1,0.9982033);
	-webkit-transform: scale(1,0.9982033);
}
.pg29htm30 {
	font-size: 0.866357em;
	font-family: "DHMLVV+TimesNewRomanPSMT";
	color: #000000;
}
.pg29htm31 {
	letter-spacing: -0.0015em;
}

.ie .pg29htm31 {
	letter-spacing: -0.0205px;
}
.pg29htm32 {
	font-size: 0.866357em;
	font-family: "MUWCCA+TimesNewRomanPSMT";
	color: #000000;
}
.pg29htm33 {
	letter-spacing: -0.0008em;
}

.ie .pg29htm33 {
	letter-spacing: -0.0109px;
}
.pg29htm34 {
	letter-spacing: -0.0094em;
}

.ie .pg29htm34 {
	letter-spacing: -0.1309px;
}
.pg29htm35 {
	letter-spacing: -0.0002em;
}

.ie .pg29htm35 {
	letter-spacing: -0.0026px;
}
.pg29htm36 {
	letter-spacing: -0.0035em;
}

.ie .pg29htm36 {
	letter-spacing: -0.048px;
}
.pg29htm37 {
	letter-spacing: -0.0029em;
}

.ie .pg29htm37 {
	letter-spacing: -0.0396px;
}
.pg29htm38 {
	letter-spacing: -0.0042em;
}

.ie .pg29htm38 {
	letter-spacing: -0.0578px;
}
.pg29htm39 {
	transform: scale(1,0.9982033);
	-o-transform: scale(1,0.9982033);
	-ms-transform: matrix(1,0,0,0.9982033,0,-1.2);
	-moz-transform: scale(1,0.9982033);
	-webkit-transform: scale(1,0.9982033);
}
.pg29htm40 {
	letter-spacing: -0.0058em;
}

.ie .pg29htm40 {
	letter-spacing: -0.0801px;
}
.pg29htm41 {
	letter-spacing: -0.0098em;
}

.ie .pg29htm41 {
	letter-spacing: -0.1364px;
}
.pg29htm42 {
	transform: scale(1,0.9982033);
	-o-transform: scale(1,0.9982033);
	-ms-transform: matrix(1,0,0,0.9982033,0,-4.3);
	-moz-transform: scale(1,0.9982033);
	-webkit-transform: scale(1,0.9982033);
}
.pg29htm43 {
	letter-spacing: -0.0067em;
}

.ie .pg29htm43 {
	letter-spacing: -0.0925px;
}
.pg29htm44 {
	letter-spacing: -0.0059em;
}

.ie .pg29htm44 {
	letter-spacing: -0.0812px;
}
.pg29htm45 {
	letter-spacing: -0.0033em;
}

.ie .pg29htm45 {
	letter-spacing: -0.0454px;
}
.pg29htm46 {
	letter-spacing: -0.0062em;
}

.ie .pg29htm46 {
	letter-spacing: -0.0855px;
}
.pg29htm47 {
	letter-spacing: -0.003em;
}

.ie .pg29htm47 {
	letter-spacing: -0.0421px;
}
.pg29htm48 {
	letter-spacing: -0.0092em;
}

.ie .pg29htm48 {
	letter-spacing: -0.1273px;
}
.pg29htm49 {
	letter-spacing: -0.0104em;
}

.ie .pg29htm49 {
	letter-spacing: -0.1445px;
}
.pg29htm50 {
	letter-spacing: -0.011em;
}

.ie .pg29htm50 {
	letter-spacing: -0.1657px;
}
.pg29htm51 {
	letter-spacing: 0.009em;
}

.ie .pg29htm51 {
	letter-spacing: 0.1356px;
}
.pg29htm52 {
	letter-spacing: -0.0044em;
}

.ie .pg29htm52 {
	letter-spacing: -0.0667px;
}
.pg29htm53 {
	letter-spacing: -0.0105em;
}

.ie .pg29htm53 {
	letter-spacing: -0.146px;
}
