@{
    ViewBag.Title = "Thêm mới nhóm người sử dụng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/Resources/js/nestable/nestable.css" rel="stylesheet" />
<script src="~/Areas/Admin/Resources/js/nestable/jquery.nestable.js"></script>
<script src="~/Areas/Admin/Resources/js/nestable/demo.js"></script>
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li class="active">
                    <i class="fa fa-user"></i> Quản trị Người dùng
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Danh sách nhóm người sử dụng
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Thêm mới nhóm người sử dụng
                </li>
            </ul>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <form data-validate="parsley" class="form-horizontal" enctype="multipart/form-data" name="fmenu" method="post" action="SaveRegist">
                                <h5 class="page-header m-t-xs" style="font-weight: 600;">
                                    <i class="fa fa-foursquare"></i> Thêm mới nhóm người sử dụng
                                </h5>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l">
                                        Tên nhóm <font color="red">*</font> :
                                    </span>
                                    <div class="col-lg-6">
                                        <input type="text" name="groupName" class="form-control input-sm"
                                               data-required="true"
                                               data-required-message="Trường tên nhóm ngừoi dùng không được để trống" />
                                    </div>
                                </div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l">
                                        Phân quyền :
                                    </span>
                                    <div class="col-sm-3">
                                        <div class="dd" id="nestable1">
                                            <ol class="dd-list">
                                                <li class="dd-item dd3-item" data-id="2">
                                                    <div class="dd3-content"><strong>Quản lý danh mục</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleDanhMuc" value="1" /> Thêm mới</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="3">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleDanhMuc" value="2" /> Chỉnh sửa</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleDanhMuc" value="4" /> Xóa</label></div></div>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li class="dd-item" data-id="2">
                                                    <div class="dd3-content"><strong>Quản lý tin tức</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleTinTuc" value="1" /> Thêm mới</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="3">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleTinTuc" value="2" /> Chỉnh sửa</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleTinTuc" value="4" /> Xóa</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleTinTuc" value="8" /> Quản lý bình luận</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleTinTuc" value="16" /> Nhận email khi có bài viết mới</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleTinTuc" value="65536" /> Biên tập Slide trang chủ</label></div></div>
                                                        </li>
                                                    </ol>
                                                </li>

                                                <li class="dd-item" data-id="15">
                                                    <div class="dd3-content"><strong> Quản lý media</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="16">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleMedia" value="64" /> Quản lý video</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="17">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleMedia" value="128" /> Quản lý album</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="18">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleMedia" value="256" /> Quản lý hình ảnh</label></div></div>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="dd" id="nestable2">
                                            <ol class="dd-list">
                                                <li class="dd-item" data-id="15">
                                                    <div class="dd3-content"><strong> Quản lý điểm thi</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleDiemThi" value="1" /> Thêm mới</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleDiemThi" value="2" /> Sửa</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleDiemThi" value="4" /> Xóa</label></div></div>
                                                        </li>
                                                    </ol>
                                                </li>

                                                <li class="dd-item" data-id="10">
                                                    <div class="dd3-content"><strong> Quản lý văn bản</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleVanBan" value="1" /> Thêm mới</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleVanBan" value="2" /> Sửa</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleVanBan" value="4" /> Xóa</label></div></div>
                                                        </li>
                                                    </ol>
                                                </li>
                                                
                                                <li class="dd-item" data-id="19">
                                                    <div class="dd3-content"><strong> Quản trị Người dùng</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleNguoiDung" value="2048" />  <strong style="color: red;">Quản lý nhóm người dùng</strong></label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><strong> Quản lý người dùng</strong></div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="11">
                                                                    <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleNguoiDung" value="1" /> Thêm mới</label></div></div>
                                                                </li>
                                                                <li class="dd-item" data-id="11">
                                                                    <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleNguoiDung" value="2" /> Sửa</label></div></div>
                                                                </li>
                                                                <li class="dd-item" data-id="11">
                                                                    <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleNguoiDung" value="4" /> Xóa</label></div></div>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                                @*<li class="dd-item" data-id="15">
                                                    <div class="dd3-content"><strong> Quản lý hỏi đáp</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="18">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHoiDap" value="512" /> Quản lý lĩnh vực câu hỏi</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="17">
                                                            <div class="dd3-content"> Quản lý câu hỏi và trả lời</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="16">
                                                                    <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHoiDap" value="4" /> Quản lý</label></div></div>
                                                                </li>
                                                                <li class="dd-item" data-id="17">
                                                                    <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHoiDap" value="1024" /> Trả lời câu hỏi</label></div></div>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>*@
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="dd" id="nestable3">
                                            <ol class="dd-list">
                                                <li class="dd-item" data-id="15">
                                                    <div class="dd3-content"><strong> Quản lý Cựu sinh viên</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="18">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleCuuSinhVien" value="16" /> Quản lý Cựu sinh viên</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="18">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleCuuSinhVien" value="32" /> Quản lý Lưu bút ra trường</label></div></div>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li class="dd-item" data-id="19">
                                                    <div class="dd3-content"><strong> Quản trị hệ thống</strong></div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHeThong" value="4096" /> Lịch sử Truy cập hệ thống</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHeThong" value="8192" /> Quản lý Cơ cấu tổ chức</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHeThong" value="131072" /> Quản lý Chức vụ</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHeThong" value="524288" /> Quản lý Khóa học</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHeThong" value="16384" /> Quản lý Quảng cáo</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHeThong" value="262144" /> Quản lý Backup dữ liệu</label></div></div>
                                                        </li>
                                                        <li class="dd-item" data-id="10">
                                                            <div class="dd3-content"><div class="checkbox"><label><input type="checkbox" name="moduleHeThong" value="32768" /> Quản lý Cấu hình hệ thống</label></div></div>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed line-lg pull-in"></div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l-md"></span>
                                    <div class="col-lg-6">
                                        <input type="submit" class="btn btn-sm btn-primary"
                                               style="width: 90px;" value="Lưu" />
                                        <a href="index" class="btn btn-sm btn-danger"
                                           data-dismiss="modal" style="width: 90px;">Hủy bỏ</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        @Html.Partial("_PartialFooter")
    </section>
</section>
<script>
    $('#slMenuParent').select2();
</script>

