@{
    ViewBag.Title = "Thủ thuật tìm kiếm";
    Layout = null;
}

<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=iso-8859-1">
    <title>Hướng dẫn tra cứu</title>
    <meta name="GENERATOR" content="LibreOffice 3.3  (Unix)">
    <meta name="AUTHOR" content="Vinaghost.Com">
    <meta name="CREATED" content="20111015;5490000">
    <meta name="CHANGEDBY" content="Thanh An">
    <meta name="CHANGED" content="20111017;5250000">
    <meta name="Info 1" content="">
    <meta name="Info 2" content="">
    <meta name="Info 3" content="">
    <meta name="Info 4" content="">
    <style type="text/css">
        h1 {
            font-family: "Times New Roman", serif;
            font-size: 13pt;
        }
    </style>
</head>
<body lang="en-US" dir="LTR">
    <div style="width: 50%; float: left; border: 1px solid; padding: 0px 20px; border-radius: 10px; background-color: #f6ecec">
        <p align="CENTER" style="margin-bottom: 0in">
            <font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    <b>
                        THỦ
                        THUẬT TÌM KIẾM
                    </b>
                </font>
            </font>
        </p>
        <p class="western" style="text-indent: 0.25in; margin-bottom: 0in">
            <font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    Người
                    dùng có thể nhập bất kỳ thông
                    tin gì vào ô tìm kiếm, Kết quả
                    sẽ bao gồm các dữ liệu: Chứa một trong các từ trong ô tim kiếm, có phân biệt dấu. Dữ liệu tìm ra có thể nhiều, để tìm kiếm hiệu quả nên sử dụng các thủ thuật sau:
                </font>
            </font>
        </p>
        <h1 class="western">
            1.Tìm kiếm chính xác
            theo một cụm từ
        </h1>
        <p class="western" style="text-indent: 0.25in; margin-bottom: 0in">
            <font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    Muốn
                    tìm kiếm chính xác một cụm từ,
                    nhập cụm từ cần tìm trong dấu
                    nháy kép
                </font>
            </font><font face="Times New Roman, serif"><font size="3" style="font-size: 13pt"><b>“”</b></font></font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    .
                    Ví dụ muốn tìm kiếm dữ liệu
                    chứa chính xác cụm từ
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    <b>
                        Lê
                        Thanh Nghị,
                    </b>
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    nhập vào
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    <b>
                        “Lê
                        Thanh Nghị”
                    </b>
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    .
                    Nếu không để trong nháy kép thì
                    các dữ liệu có chứa một trong 3 từ
                    trên cũng sẽ được tìm kiếm
                    ra. Ví dụ dữ liệu có chứa
                </font>
            </font><font color="#ff0000">
                <font face="Times New Roman, serif">
                    <font size="3" style="font-size: 13pt">
                        <b>
                            Lê
                            Thanh
                        </b>
                    </font>
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    <b>
                        Mai
                    </b>
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    hoặc
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    <b>
                        Nguyễn
                        Văn
                    </b>
                </font>
            </font><font color="#ff0000"><font face="Times New Roman, serif"><font size="3" style="font-size: 13pt"><b>Nghị</b></font></font></font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    cũng sẽ được tìm ra.
                </font>
            </font>
        </p>

        <h1 class="western">2.Tìm kiếm mở rộng</h1>
        <p class="western" style="text-indent: 0.25in; margin-bottom: 0in">
            <font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    Sử
                    dụng dấu
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    <b>
                        *
                    </b>
                </font>
            </font><font face="Times New Roman, serif">
                <font size="3" style="font-size: 13pt">
                    để
                    tìm kiếm mở rộng về phía trái,
                    phải hoặc cả 2 bên
                </font>
            </font>
        </p>
        <p style="margin-left: 0.25in; margin-bottom: 0in">
            <font face="Times New Roman, serif">
                <font size="4">
                    <font size="3" style="font-size: 13pt">
                        Nếu
                        nhập
                    </font><font size="3" style="font-size: 13pt"><b>*3</b></font><font size="3" style="font-size: 13pt">
                        ,
                        kết quả tìm kiếm sẽ bao gồm
                        những dữ liệu chứa số
                    </font><font size="3" style="font-size: 13pt"><b>3</b></font><font size="3" style="font-size: 13pt">
                        ở cuối từ, ví dụ
                    </font><font size="3" style="font-size: 13pt"><b>12</b></font><font color="#ff0000"><font size="3" style="font-size: 13pt"><b>3</b></font></font><font size="3" style="font-size: 13pt">.</font>
                </font>
            </font>
        </p>
        <p style="margin-left: 0.25in; margin-bottom: 0in">
            <font face="Times New Roman, serif">
                <font size="4">
                    <font size="3" style="font-size: 13pt">
                        Nếu
                        nhập
                    </font><font size="3" style="font-size: 13pt"><b>*3*,</b></font><font size="3" style="font-size: 13pt">
                        kết quả tìm kiếm sẽ bao gồm
                        những dữ liệu có chứa số
                    </font><font size="3" style="font-size: 13pt"><b>3</b></font><font size="3" style="font-size: 13pt">
                        ,
                        ví dụ
                    </font><font size="3" style="font-size: 13pt"><b>12</b></font><font color="#ff0000"><font size="3" style="font-size: 13pt"><b>3</b></font></font><font size="3" style="font-size: 13pt"><b>45</b></font>
                </font>
            </font>
        </p>
        <p style="margin-left: 0.75in; margin-bottom: 0in">
            <br>
        </p>
    </div>
</body>
</html>
