sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg20htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg20htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg20htm03 {
	position: relative;
}
.pg20htm04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.pg20htm05 {
	position: relative;
	width: 51em;
}
.pg20htm06 {
	height: 6.6em;
}
.ie .pg20htm06 {
	height: 66em;
}
.pg20htm07 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"LRRJGU+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=240326f6-0001-0000-0000-000000000000.woff") format("woff");
}
.pg20htm08 {
	font-size: 0.938214em;
	font-family: "LRRJGU+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg20htm09 {
	line-height: 1.107422em;
}
.pg20htm10 {
	letter-spacing: 0em;
}

.ie .pg20htm10 {
	letter-spacing: 0px;
}
.pg20htm11 {
	letter-spacing: -0.0002em;
}

.ie .pg20htm11 {
	letter-spacing: -0.0029px;
}
@font-face {
	font-family:"TKPAUH+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=77631d29-0001-0000-0000-000000000000.woff") format("woff");
}
.pg20htm12 {
	font-size: 0.938214em;
	font-family: "TKPAUH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"LJSPVD+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=6cb24f9b-0002-0000-0000-000000000000.woff") format("woff");
}
.pg20htm13 {
	font-size: 0.938214em;
	font-family: "LJSPVD+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg20htm14 {
	letter-spacing: -0.0077em;
}

.ie .pg20htm14 {
	letter-spacing: -0.1159px;
}
@font-face {
	font-family:"WECTGE+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=e603450a-0002-0000-0000-000000000000.woff") format("woff");
}
.pg20htm15 {
	font-size: 0.938214em;
	font-family: "WECTGE+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg20htm16 {
	letter-spacing: -0.0052em;
}

.ie .pg20htm16 {
	letter-spacing: -0.0782px;
}
.pg20htm17 {
	letter-spacing: 0.0007em;
}

.ie .pg20htm17 {
	letter-spacing: 0.0111px;
}
.pg20htm18 {
	letter-spacing: -0.0009em;
}

.ie .pg20htm18 {
	letter-spacing: -0.013px;
}
.pg20htm19 {
	letter-spacing: -0.0051em;
}

.ie .pg20htm19 {
	letter-spacing: -0.0766px;
}
.pg20htm20 {
	letter-spacing: -0.0024em;
}

.ie .pg20htm20 {
	letter-spacing: -0.0361px;
}
@font-face {
	font-family:"OPRJIF+TimesNewRomanPS-BoldItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=4c7a24f9-0003-0000-0000-000000000000.woff") format("woff");
}
.pg20htm21 {
	font-size: 0.938214em;
	font-family: "OPRJIF+TimesNewRomanPS-BoldItalicMT";
	color: #000000;
}
.pg20htm22 {
	letter-spacing: -0.0006em;
}

.ie .pg20htm22 {
	letter-spacing: -0.0092px;
}
@font-face {
	font-family:"OTMAUN+TimesNewRomanPS-BoldItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=7327579e-0003-0000-0000-000000000000.woff") format("woff");
}
.pg20htm23 {
	font-size: 0.938214em;
	font-family: "OTMAUN+TimesNewRomanPS-BoldItalicMT";
	color: #000000;
}
.pg20htm24 {
	letter-spacing: 0.0017em;
}

.ie .pg20htm24 {
	letter-spacing: 0.0251px;
}
@font-face {
	font-family:"EEQNJO+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=14a94f1f-0000-0000-0000-000000000000.woff") format("woff");
}
.pg20htm25 {
	font-size: 0.938214em;
	font-family: "EEQNJO+TimesNewRomanPSMT";
	color: #000000;
}
.pg20htm26 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.8);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg20htm27 {
	letter-spacing: 0.0012em;
}

.ie .pg20htm27 {
	letter-spacing: 0.0177px;
}
.pg20htm28 {
	letter-spacing: 0.001em;
}

.ie .pg20htm28 {
	letter-spacing: 0.015px;
}
.pg20htm29 {
	letter-spacing: 0.0002em;
}

.ie .pg20htm29 {
	letter-spacing: 0.0034px;
}
.pg20htm30 {
	letter-spacing: -0.0007em;
}

.ie .pg20htm30 {
	letter-spacing: -0.0104px;
}
.pg20htm31 {
	letter-spacing: -0.0004em;
}

.ie .pg20htm31 {
	letter-spacing: -0.0056px;
}
@font-face {
	font-family:"OFMEUV+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=8311dc81-0000-0000-0000-000000000000.woff") format("woff");
}
.pg20htm32 {
	font-size: 0.938214em;
	font-family: "OFMEUV+TimesNewRomanPSMT";
	color: #000000;
}
.pg20htm33 {
	letter-spacing: 0.0018em;
}

.ie .pg20htm33 {
	letter-spacing: 0.0265px;
}
.pg20htm34 {
	letter-spacing: -0.0055em;
}

.ie .pg20htm34 {
	letter-spacing: -0.0821px;
}
