sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg23htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg23htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg23htm03 {
	position: relative;
	width: 51em;
}
.pg23htm04 {
	height: 6.6em;
}
.ie .pg23htm04 {
	height: 66em;
}
.pg23htm05 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"KUJDBL+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=6e507de1-0000-0000-0000-000000000000.woff") format("woff");
}
.pg23htm06 {
	font-size: 1.088328em;
	font-family: "KUJDBL+TimesNewRomanPSMT";
	color: #000000;
}
.pg23htm07 {
	line-height: 1.107422em;
}
.pg23htm08 {
	letter-spacing: 0.0026em;
}

.ie .pg23htm08 {
	letter-spacing: 0.0446px;
}
@font-face {
	font-family:"HQJACG+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=77ca42a9-0000-0000-0000-000000000000.woff") format("woff");
}
.pg23htm09 {
	font-size: 1.088328em;
	font-family: "HQJACG+TimesNewRomanPSMT";
	color: #000000;
}
.pg23htm10 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.5);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg23htm11 {
	letter-spacing: 0.0077em;
}

.ie .pg23htm11 {
	letter-spacing: 0.1347px;
}
.pg23htm12 {
	letter-spacing: -0.0014em;
}

.ie .pg23htm12 {
	letter-spacing: -0.0236px;
}
.pg23htm13 {
	letter-spacing: 0.0074em;
}

.ie .pg23htm13 {
	letter-spacing: 0.1291px;
}
.pg23htm14 {
	letter-spacing: 0.003em;
}

.ie .pg23htm14 {
	letter-spacing: 0.0519px;
}
.pg23htm15 {
	letter-spacing: 0.0078em;
}

.ie .pg23htm15 {
	letter-spacing: 0.1361px;
}
@font-face {
	font-family:"GEQFQF+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=ca978ecb-0001-0000-0000-000000000000.woff") format("woff");
}
.pg23htm16 {
	font-size: 1.088328em;
	font-family: "GEQFQF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg23htm17 {
	letter-spacing: 0.0092em;
}

.ie .pg23htm17 {
	letter-spacing: 0.1608px;
}
.pg23htm18 {
	letter-spacing: 0em;
}

.ie .pg23htm18 {
	letter-spacing: 0px;
}
.pg23htm19 {
	letter-spacing: 0.0028em;
}

.ie .pg23htm19 {
	letter-spacing: 0.0489px;
}
.pg23htm20 {
	letter-spacing: 0.0022em;
}

.ie .pg23htm20 {
	letter-spacing: 0.0384px;
}
.pg23htm21 {
	letter-spacing: 0.0076em;
}

.ie .pg23htm21 {
	letter-spacing: 0.1318px;
}
.pg23htm22 {
	letter-spacing: 0.0029em;
}

.ie .pg23htm22 {
	letter-spacing: 0.0512px;
}
.pg23htm23 {
	letter-spacing: 0.0062em;
}

.ie .pg23htm23 {
	letter-spacing: 0.1073px;
}
.pg23htm24 {
	letter-spacing: 0.0093em;
}

.ie .pg23htm24 {
	letter-spacing: 0.1617px;
}
.pg23htm25 {
	letter-spacing: 0.001em;
}

.ie .pg23htm25 {
	letter-spacing: 0.0176px;
}
.pg23htm26 {
	letter-spacing: 0.007em;
}

.ie .pg23htm26 {
	letter-spacing: 0.1219px;
}
.pg23htm27 {
	letter-spacing: 0.0043em;
}

.ie .pg23htm27 {
	letter-spacing: 0.0742px;
}
.pg23htm28 {
	letter-spacing: 0.008em;
}

.ie .pg23htm28 {
	letter-spacing: 0.1388px;
}
.pg23htm29 {
	letter-spacing: 0.0084em;
}

.ie .pg23htm29 {
	letter-spacing: 0.1455px;
}
.pg23htm30 {
	letter-spacing: 0.0064em;
}

.ie .pg23htm30 {
	letter-spacing: 0.1108px;
}
.pg23htm31 {
	letter-spacing: 0.0085em;
}

.ie .pg23htm31 {
	letter-spacing: 0.1475px;
}
.pg23htm32 {
	letter-spacing: 0.0044em;
}

.ie .pg23htm32 {
	letter-spacing: 0.0766px;
}
.pg23htm33 {
	letter-spacing: 0.0025em;
}

.ie .pg23htm33 {
	letter-spacing: 0.0435px;
}
.pg23htm34 {
	letter-spacing: 0.0024em;
}

.ie .pg23htm34 {
	letter-spacing: 0.0423px;
}
.pg23htm35 {
	letter-spacing: 0.0019em;
}

.ie .pg23htm35 {
	letter-spacing: 0.0339px;
}
.pg23htm36 {
	letter-spacing: 0.0056em;
}

.ie .pg23htm36 {
	letter-spacing: 0.0968px;
}
.pg23htm37 {
	letter-spacing: 0.0069em;
}

.ie .pg23htm37 {
	letter-spacing: 0.1199px;
}
.pg23htm38 {
	letter-spacing: 0.0045em;
}

.ie .pg23htm38 {
	letter-spacing: 0.0781px;
}
.pg23htm39 {
	letter-spacing: 0.0081em;
}

.ie .pg23htm39 {
	letter-spacing: 0.1405px;
}
.pg23htm40 {
	letter-spacing: 0.0048em;
}

.ie .pg23htm40 {
	letter-spacing: 0.0828px;
}
.pg23htm41 {
	letter-spacing: 0.0057em;
}

.ie .pg23htm41 {
	letter-spacing: 0.0998px;
}
.pg23htm42 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.45904);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"TWQSJD+ArialMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d8705113-0000-0000-0000-000000000000.woff") format("woff");
}
.pg23htm43 {
	font-size: 1.088328em;
	font-family: "TWQSJD+ArialMT";
	color: #000000;
}
.pg23htm44 {
	line-height: 1.117188em;
}
.pg23htm45 {
	letter-spacing: 0.0097em;
}

.ie .pg23htm45 {
	letter-spacing: 0.169px;
}
.pg23htm46 {
	letter-spacing: 0.0063em;
}

.ie .pg23htm46 {
	letter-spacing: 0.1104px;
}
.pg23htm47 {
	letter-spacing: 0.0047em;
}

.ie .pg23htm47 {
	letter-spacing: 0.0825px;
}
.pg23htm48 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg23htm49 {
	font-size: 0.938214em;
	font-family: "KUJDBL+TimesNewRomanPSMT";
	color: #000000;
}
