sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg6htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg6htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg6htm03 {
	position: relative;
	width: 51em;
}
.pg6htm04 {
	height: 6.6em;
}
.ie .pg6htm04 {
	height: 66em;
}
.pg6htm05 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"CKVMEG+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=ca9510b8-0001-0000-0000-000000000000.woff") format("woff");
}
.pg6htm06 {
	font-size: 1.088328em;
	font-family: "CKVMEG+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg6htm07 {
	line-height: 1.107422em;
}
.pg6htm08 {
	letter-spacing: 0.0061em;
}

.ie .pg6htm08 {
	letter-spacing: 0.1068px;
}
@font-face {
	font-family:"QQHWCF+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d04c5122-0001-0000-0000-000000000000.woff") format("woff");
}
.pg6htm09 {
	font-size: 1.088328em;
	font-family: "QQHWCF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg6htm10 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-2.4);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"JVHHRG+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=5b7f96a2-0000-0000-0000-000000000000.woff") format("woff");
}
.pg6htm11 {
	font-size: 1.088328em;
	font-family: "JVHHRG+TimesNewRomanPSMT";
	color: #000000;
}
.pg6htm12 {
	letter-spacing: 0.0043em;
}

.ie .pg6htm12 {
	letter-spacing: 0.0754px;
}
@font-face {
	font-family:"UDECLT+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=7ac529ee-0000-0000-0000-000000000000.woff") format("woff");
}
.pg6htm13 {
	font-size: 1.088328em;
	font-family: "UDECLT+TimesNewRomanPSMT";
	color: #000000;
}
.pg6htm14 {
	letter-spacing: 0em;
}

.ie .pg6htm14 {
	letter-spacing: 0px;
}
.pg6htm15 {
	letter-spacing: 0.0028em;
}

.ie .pg6htm15 {
	letter-spacing: 0.0488px;
}
.pg6htm16 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.8);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg6htm17 {
	letter-spacing: 0.0023em;
}

.ie .pg6htm17 {
	letter-spacing: 0.0404px;
}
.pg6htm18 {
	letter-spacing: 0.0054em;
}

.ie .pg6htm18 {
	letter-spacing: 0.0934px;
}
.pg6htm19 {
	letter-spacing: 0.0069em;
}

.ie .pg6htm19 {
	letter-spacing: 0.1207px;
}
@font-face {
	font-family:"HDPJIF+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=5eb5a7fc-0002-0000-0000-000000000000.woff") format("woff");
}
.pg6htm20 {
	font-size: 1.088328em;
	font-family: "HDPJIF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
@font-face {
	font-family:"GLRHGI+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d84b3c74-0002-0000-0000-000000000000.woff") format("woff");
}
.pg6htm21 {
	font-size: 1.088328em;
	font-family: "GLRHGI+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg6htm22 {
	letter-spacing: 0.0029em;
}

.ie .pg6htm22 {
	letter-spacing: 0.0498px;
}
@font-face {
	font-family:"VBRTNF+TimesNewRomanPS-BoldItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d6768631-0003-0000-0000-000000000000.woff") format("woff");
}
.pg6htm23 {
	font-size: 1.088328em;
	font-family: "VBRTNF+TimesNewRomanPS-BoldItalicMT";
	color: #000000;
}
.pg6htm24 {
	letter-spacing: 0.0049em;
}

.ie .pg6htm24 {
	letter-spacing: 0.0852px;
}
@font-face {
	font-family:"IRABFD+TimesNewRomanPS-BoldItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=7dcbcc98-0003-0000-0000-000000000000.woff") format("woff");
}
.pg6htm25 {
	font-size: 1.088328em;
	font-family: "IRABFD+TimesNewRomanPS-BoldItalicMT";
	color: #000000;
}
.pg6htm26 {
	letter-spacing: 0.0039em;
}

.ie .pg6htm26 {
	letter-spacing: 0.0677px;
}
.pg6htm27 {
	letter-spacing: 0.0021em;
}

.ie .pg6htm27 {
	letter-spacing: 0.0361px;
}
.pg6htm28 {
	letter-spacing: 0.0065em;
}

.ie .pg6htm28 {
	letter-spacing: 0.1133px;
}
.pg6htm29 {
	letter-spacing: 0.0047em;
}

.ie .pg6htm29 {
	letter-spacing: 0.0814px;
}
.pg6htm30 {
	letter-spacing: 0.0022em;
}

.ie .pg6htm30 {
	letter-spacing: 0.0387px;
}
.pg6htm31 {
	letter-spacing: 0.0053em;
}

.ie .pg6htm31 {
	letter-spacing: 0.0918px;
}
.pg6htm32 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-2.5);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg6htm33 {
	letter-spacing: 0.0045em;
}

.ie .pg6htm33 {
	letter-spacing: 0.0788px;
}
.pg6htm34 {
	letter-spacing: 0.0037em;
}

.ie .pg6htm34 {
	letter-spacing: 0.0636px;
}
.pg6htm35 {
	letter-spacing: 0.0026em;
}

.ie .pg6htm35 {
	letter-spacing: 0.0451px;
}
.pg6htm36 {
	letter-spacing: 0.0048em;
}

.ie .pg6htm36 {
	letter-spacing: 0.0835px;
}
.pg6htm37 {
	letter-spacing: 0.0041em;
}

.ie .pg6htm37 {
	letter-spacing: 0.0713px;
}
.pg6htm38 {
	letter-spacing: 0.0018em;
}

.ie .pg6htm38 {
	letter-spacing: 0.0316px;
}
.pg6htm39 {
	letter-spacing: -0.0001em;
}

.ie .pg6htm39 {
	letter-spacing: -0.0015px;
}
.pg6htm40 {
	letter-spacing: 0.004em;
}

.ie .pg6htm40 {
	letter-spacing: 0.0703px;
}
.pg6htm41 {
	letter-spacing: 0.0064em;
}

.ie .pg6htm41 {
	letter-spacing: 0.1116px;
}
.pg6htm42 {
	letter-spacing: 0.0033em;
}

.ie .pg6htm42 {
	letter-spacing: 0.0581px;
}
.pg6htm43 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg6htm44 {
	font-size: 0.938214em;
	font-family: "JVHHRG+TimesNewRomanPSMT";
	color: #000000;
}
