sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg14htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg14htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg14htm03 {
	position: relative;
	width: 51em;
}
.pg14htm04 {
	height: 6.6em;
}
.ie .pg14htm04 {
	height: 66em;
}
.pg14htm05 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.670699);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"PVBEDL+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=177aee60-0000-0000-0000-000000000000.woff") format("woff");
}
.pg14htm06 {
	font-size: 0.938214em;
	font-family: "PVBEDL+TimesNewRomanPSMT";
	color: #000000;
}
.pg14htm07 {
	line-height: 1.107422em;
}
.pg14htm08 {
	letter-spacing: 0.0045em;
}

.ie .pg14htm08 {
	letter-spacing: 0.0679px;
}
@font-face {
	font-family:"LKWGHA+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=76cdabff-0000-0000-0000-000000000000.woff") format("woff");
}
.pg14htm09 {
	font-size: 0.938214em;
	font-family: "LKWGHA+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"LHPBHB+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=8ab7bbdd-0001-0000-0000-000000000000.woff") format("woff");
}
.pg14htm10 {
	font-size: 1.257198em;
	font-family: "LHPBHB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg14htm11 {
	letter-spacing: 0.0034em;
}

.ie .pg14htm11 {
	letter-spacing: 0.0679px;
}
.pg14htm12 {
	font-size: 0.938214em;
	font-family: "LHPBHB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg14htm13 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg14htm14 {
	letter-spacing: 0.0013em;
}

.ie .pg14htm14 {
	letter-spacing: 0.019px;
}
@font-face {
	font-family:"KFNUPF+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=fec32bcd-0001-0000-0000-000000000000.woff") format("woff");
}
.pg14htm15 {
	font-size: 0.938214em;
	font-family: "KFNUPF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg14htm16 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg14htm17 {
	font-size: 1.088328em;
	font-family: "KFNUPF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg14htm18 {
	letter-spacing: 0.0061em;
}

.ie .pg14htm18 {
	letter-spacing: 0.1063px;
}
.pg14htm19 {
	font-size: 1.088328em;
	font-family: "LHPBHB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"STHMFL+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=f5ea8f6d-0002-0000-0000-000000000000.woff") format("woff");
}
.pg14htm20 {
	font-size: 1.088328em;
	font-family: "STHMFL+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
@font-face {
	font-family:"MLBRPF+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=ea7f718c-0002-0000-0000-000000000000.woff") format("woff");
}
.pg14htm21 {
	font-size: 1.088328em;
	font-family: "MLBRPF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg14htm22 {
	letter-spacing: 0.005em;
}

.ie .pg14htm22 {
	letter-spacing: 0.0868px;
}
.pg14htm23 {
	letter-spacing: 0.0042em;
}

.ie .pg14htm23 {
	letter-spacing: 0.0739px;
}
.pg14htm24 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-2);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg14htm25 {
	letter-spacing: 0em;
}

.ie .pg14htm25 {
	letter-spacing: 0px;
}
.pg14htm26 {
	font-size: 1.088328em;
	font-family: "PVBEDL+TimesNewRomanPSMT";
	color: #000000;
}
.pg14htm27 {
	letter-spacing: 0.0024em;
}

.ie .pg14htm27 {
	letter-spacing: 0.0421px;
}
.pg14htm28 {
	letter-spacing: 0.0097em;
}

.ie .pg14htm28 {
	letter-spacing: 0.1697px;
}
.pg14htm29 {
	font-size: 1.088328em;
	font-family: "LKWGHA+TimesNewRomanPSMT";
	color: #000000;
}
.pg14htm30 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.5);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg14htm31 {
	letter-spacing: 0.0054em;
}

.ie .pg14htm31 {
	letter-spacing: 0.0937px;
}
.pg14htm32 {
	letter-spacing: 0.002em;
}

.ie .pg14htm32 {
	letter-spacing: 0.0353px;
}
.pg14htm33 {
	letter-spacing: 0.0047em;
}

.ie .pg14htm33 {
	letter-spacing: 0.0817px;
}
.pg14htm34 {
	letter-spacing: 0.0049em;
}

.ie .pg14htm34 {
	letter-spacing: 0.0851px;
}
.pg14htm35 {
	letter-spacing: 0.0039em;
}

.ie .pg14htm35 {
	letter-spacing: 0.0681px;
}
.pg14htm36 {
	letter-spacing: 0.0029em;
}

.ie .pg14htm36 {
	letter-spacing: 0.0497px;
}
.pg14htm37 {
	letter-spacing: 0.0064em;
}

.ie .pg14htm37 {
	letter-spacing: 0.1108px;
}
.pg14htm38 {
	letter-spacing: 0.0018em;
}

.ie .pg14htm38 {
	letter-spacing: 0.0306px;
}
.pg14htm39 {
	letter-spacing: -0.0038em;
}

.ie .pg14htm39 {
	letter-spacing: -0.0664px;
}
.pg14htm40 {
	letter-spacing: 0.0056em;
}

.ie .pg14htm40 {
	letter-spacing: 0.097px;
}
.pg14htm41 {
	letter-spacing: 0.0032em;
}

.ie .pg14htm41 {
	letter-spacing: 0.0555px;
}
.pg14htm42 {
	letter-spacing: 0.0012em;
}

.ie .pg14htm42 {
	letter-spacing: 0.0206px;
}
.pg14htm43 {
	letter-spacing: 0.0093em;
}

.ie .pg14htm43 {
	letter-spacing: 0.1622px;
}
.pg14htm44 {
	letter-spacing: 0.0069em;
}

.ie .pg14htm44 {
	letter-spacing: 0.1198px;
}
.pg14htm45 {
	letter-spacing: -0.0032em;
}

.ie .pg14htm45 {
	letter-spacing: -0.0549px;
}
.pg14htm46 {
	letter-spacing: -0.0055em;
}

.ie .pg14htm46 {
	letter-spacing: -0.0821px;
}
