sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg15htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg15htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg15htm03 {
	position: relative;
	width: 51em;
}
.pg15htm04 {
	height: 6.6em;
}
.ie .pg15htm04 {
	height: 66em;
}
.pg15htm05 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.670699);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"FIDRUL+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=699b3db7-0000-0000-0000-000000000000.woff") format("woff");
}
.pg15htm06 {
	font-size: 0.938214em;
	font-family: "FIDRUL+TimesNewRomanPSMT";
	color: #000000;
}
.pg15htm07 {
	line-height: 1.107422em;
}
.pg15htm08 {
	letter-spacing: 0.0004em;
}

.ie .pg15htm08 {
	letter-spacing: 0.0058px;
}
@font-face {
	font-family:"AQBQFD+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=62cb3e20-0000-0000-0000-000000000000.woff") format("woff");
}
.pg15htm09 {
	font-size: 0.938214em;
	font-family: "AQBQFD+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"GEODKE+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=2306c5d0-0001-0000-0000-000000000000.woff") format("woff");
}
.pg15htm10 {
	font-size: 1.257198em;
	font-family: "GEODKE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg15htm11 {
	letter-spacing: 0.0003em;
}

.ie .pg15htm11 {
	letter-spacing: 0.0058px;
}
.pg15htm12 {
	font-size: 0.938214em;
	font-family: "GEODKE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg15htm13 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg15htm14 {
	letter-spacing: 0.0014em;
}

.ie .pg15htm14 {
	letter-spacing: 0.0203px;
}
@font-face {
	font-family:"IRGSIH+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=81591148-0001-0000-0000-000000000000.woff") format("woff");
}
.pg15htm15 {
	font-size: 0.938214em;
	font-family: "IRGSIH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg15htm16 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg15htm17 {
	font-size: 1.088328em;
	font-family: "IRGSIH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg15htm18 {
	letter-spacing: 0.0061em;
}

.ie .pg15htm18 {
	letter-spacing: 0.1063px;
}
.pg15htm19 {
	font-size: 1.088328em;
	font-family: "GEODKE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"DVEKQT+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=a0e7140f-0002-0000-0000-000000000000.woff") format("woff");
}
.pg15htm20 {
	font-size: 1.088328em;
	font-family: "DVEKQT+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg15htm21 {
	letter-spacing: 0.0033em;
}

.ie .pg15htm21 {
	letter-spacing: 0.057px;
}
@font-face {
	font-family:"WQOKSW+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=6de295cb-0002-0000-0000-000000000000.woff") format("woff");
}
.pg15htm22 {
	font-size: 1.088328em;
	font-family: "WQOKSW+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg15htm23 {
	letter-spacing: 0.0053em;
}

.ie .pg15htm23 {
	letter-spacing: 0.0918px;
}
.pg15htm24 {
	letter-spacing: 0.0042em;
}

.ie .pg15htm24 {
	letter-spacing: 0.0739px;
}
.pg15htm25 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-2);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg15htm26 {
	letter-spacing: 0em;
}

.ie .pg15htm26 {
	letter-spacing: 0px;
}
.pg15htm27 {
	font-size: 1.088328em;
	font-family: "FIDRUL+TimesNewRomanPSMT";
	color: #000000;
}
.pg15htm28 {
	letter-spacing: 0.0006em;
}

.ie .pg15htm28 {
	letter-spacing: 0.0107px;
}
.pg15htm29 {
	letter-spacing: 0.007em;
}

.ie .pg15htm29 {
	letter-spacing: 0.1217px;
}
.pg15htm30 {
	font-size: 1.088328em;
	font-family: "AQBQFD+TimesNewRomanPSMT";
	color: #000000;
}
.pg15htm31 {
	letter-spacing: 0.0035em;
}

.ie .pg15htm31 {
	letter-spacing: 0.0612px;
}
.pg15htm32 {
	letter-spacing: 0.0047em;
}

.ie .pg15htm32 {
	letter-spacing: 0.0826px;
}
.pg15htm33 {
	letter-spacing: 0.0016em;
}

.ie .pg15htm33 {
	letter-spacing: 0.0277px;
}
.pg15htm34 {
	letter-spacing: 0.0043em;
}

.ie .pg15htm34 {
	letter-spacing: 0.0749px;
}
.pg15htm35 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.5);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg15htm36 {
	letter-spacing: 0.0023em;
}

.ie .pg15htm36 {
	letter-spacing: 0.0405px;
}
.pg15htm37 {
	letter-spacing: 0.0051em;
}

.ie .pg15htm37 {
	letter-spacing: 0.089px;
}
.pg15htm38 {
	letter-spacing: 0.0044em;
}

.ie .pg15htm38 {
	letter-spacing: 0.076px;
}
.pg15htm39 {
	letter-spacing: -0.0031em;
}

.ie .pg15htm39 {
	letter-spacing: -0.0544px;
}
.pg15htm40 {
	letter-spacing: 0.0064em;
}

.ie .pg15htm40 {
	letter-spacing: 0.1107px;
}
.pg15htm41 {
	letter-spacing: 0.0041em;
}

.ie .pg15htm41 {
	letter-spacing: 0.0715px;
}
.pg15htm42 {
	letter-spacing: 0.0069em;
}

.ie .pg15htm42 {
	letter-spacing: 0.1198px;
}
.pg15htm43 {
	letter-spacing: -0.0032em;
}

.ie .pg15htm43 {
	letter-spacing: -0.0564px;
}
.pg15htm44 {
	letter-spacing: 0.0018em;
}

.ie .pg15htm44 {
	letter-spacing: 0.0265px;
}
.pg15htm45 {
	letter-spacing: -0.0055em;
}

.ie .pg15htm45 {
	letter-spacing: -0.0821px;
}
