@using thanhhoa.gov.vn.Utility
@{
    ViewBag.Title = "Thêm mới điểm thi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var data = (List<thanhhoa.gov.vn.Models.gov_system_config>)ViewData["data"];
    var begin = int.Parse(data.Single(d => d.key_config.Equals(Constant.CONFIG_KEY_BEGIN_COURSE)).value_config);
    var end = int.Parse(data.Single(d => d.key_config.Equals(Constant.CONFIG_KEY_END_COURSE)).value_config);
}
<script src="~/Areas/Admin/Resources/ckfinder/ckfinder.js"></script>
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li>
                    <a href="index.html">
                        <i class="fa fa-bookmark-o"></i> Quản lý điểm thi
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Thêm mới điểm thi
                </li>
            </ul>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <form data-validate="parsley" class="form-horizontal" onsubmit="return save();" enctype="multipart/form-data" name="f_test_score" method="post" action="SaveRegist">
                                <h5 class="page-header m-t-xs" style="font-weight: 600;">
                                    <i class="fa fa-foursquare"></i> Thêm mới điểm thi
                                </h5>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l">
                                        Lớp <font color="red">*</font> :
                                    </span>
                                    <div class="col-lg-6">
                                        <input type="text" name="test_class"
                                               class="form-control input-sm"
                                               data-required="true"
                                               data-required-message="Trường Lớp không được để trống" />
                                    </div>
                                </div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l">
                                        Tên môn thi <font color="red">*</font> :
                                    </span>
                                    <div class="col-lg-6">
                                        <input type="text" name="test_name"
                                               class="form-control input-sm"
                                               data-required="true"
                                               data-required-message="Trường tên môn học không được để trống" />
                                    </div>
                                </div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l">
                                        Kỳ thi <font color="red">*</font> :
                                    </span>
                                    <div class="col-lg-6">
                                        <select id="kythi" name="kythi" style="width: 276px;">
                                            <option value="2">Kỳ 2</option>
                                            <option value="2">Kỳ 3</option>
											<option value="1">Kỳ 1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-b-xs" id="div-link">
                                    <span class="col-lg-2 control-span m-l">
                                        Năm học <font color="red">*</font> :
                                    </span>
                                    <div class="col-lg-6">
                                        <select id="namhoc" name="namhoc" style="width: 276px;">
                                            @{
                                                for (int i = end; i > begin; i--)
                                                {
                                                    <option value="@Html.Raw(i + " - " + (i - 1).ToString())">@Html.Raw(i + " - " + (i - 1).ToString())</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l">
                                        Loại file <font color="red">*</font> :
                                    </span>
                                    <div class="col-lg-6">
                                        <label style="cursor: pointer; margin-right: 10px;">
                                            <input type="radio" name="file_format" onchange="changeFormat();" checked value="0" /> Hình ảnh (.gif, .jpg, .png, .bmp)
                                        </label>
                                        <label style="cursor: pointer;">
                                            <input type="radio" name="file_format" onchange="changeFormat();" value="1" /> Office (.xls, .xlsx, xlsm, .doc, .docx, .pdf, .txt)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l">
                                        File đính kèm <font color="red">*</font> : <br/> (<strong>Lưu ý: </strong><font color="red"> Có thể chọn nhiều file</font>)
                                    </span>
                                    <div class="col-lg-6">
                                        <input type="file" name="files" id="files" multiple data-required="true"
                                               data-required-message="File không được để trống" />
                                    </div>
                                </div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l"></span>
                                    <div class="col-lg-6" id="lst_img_preview">
                                    </div>
                                </div>
                                <div class="line line-dashed line-lg pull-in"></div>
                                <div class="form-group m-b-xs">
                                    <span class="col-lg-2 control-span m-l-md"></span>
                                    <div class="col-lg-6">
                                        <input type="submit" class="btn btn-sm btn-primary"
                                               style="width: 90px;" value="Lưu" />
                                        <a href="index" class="btn btn-sm btn-danger"
                                           data-dismiss="modal" style="width: 90px;">Hủy bỏ</a>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </section>
                </div>
            </div>
        </section>
        @Html.Partial("_PartialFooter")
    </section>
</section>
<script>
    $('#kythi').select2();
    $('#namhoc').select2();
    $(function () {
        $('#test_date').datepicker({
            format: "yyyy/mm/dd",
            endDate: "new Date()",
            todayBtn: true,
            clearBtn: true,
            autoclose: true,
            todayHighlight: true
        });
    });

    function changeFormat() {
        $('#files').val("");
        $('#lst_img_preview').html("");
    }

    function save() {

    }

    function getValueRadioChecked(radio_name) {
        var radios = document.getElementsByName(radio_name);

        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                return radios[i].value;
            }
        }
    }

    function handleFileSelect(evt) {
        $('#lst_img_preview').html("");
        var files = evt.target.files;

        if (getValueRadioChecked('file_format') == '0') {
            //Ảnh
            for (var i = 0, f; f = files[i]; i++) {
                if (!f.type.match('image.*')) {
                    bootbox.alert('Định dạng file không đúng. Bạn phải chọn các file là định dạng ảnh. Các định dạng được hỗ trợ: <strong>.gif, .jpg, .png, .bmp</strong>!');
                    $('#files').val("");
                    break;
                }
                var reader = new FileReader();
                reader.onload = (function (theFile) {
                    return function (e) {
                        var span = document.createElement('span');
                        span.innerHTML = ['<img style="margin: 5px 5px 5px 0px;" class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                        document.getElementById('lst_img_preview').insertBefore(span, null);
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        } else if (getValueRadioChecked('file_format') == '1') {
            //Office
            if (files.length > 1) {
                bootbox.alert('Bạn chỉ được chọn 1 file. Các định dạng được hỗ trợ: <strong>.xls, .xlsx, xlsm, .doc, .docx, .pdf, .txt</strong>!');
                $('#files').val("");
            } else {
                if (!files[0].type.match('application/msword') && !files[0].type.match('application/vnd.*') && !files[0].type.match('text/plain') && !files[0].type.match('application/pdf')) {
                    bootbox.alert('Định dạng file không đúng. Bạn phải chọn các file là định dạng Office. Các định dạng được hỗ trợ: <strong>.xls, .xlsx, xlsm, .doc, .docx, .pdf, .txt</strong>!');
                    $('#files').val("");
                }
            }
        } else {
            bootbox.alert('Đã có lỗi xảy ra!');
        }

        
    }
    document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>