@{
    ViewBag.Title = "Chi tiết điểm thi";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" class=" js csstransforms">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Chi tiết điểm thi</title>
    <script type="text/javascript" src="http://fit.nuce.edu.vn/document-viewer/GetScript?name=libs/jquery-1.9.1.min.js"></script>
    <style></style>
    <script type="text/javascript" src="http://fit.nuce.edu.vn/document-viewer/GetScript?name=libs/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="http://fit.nuce.edu.vn/document-viewer/GetScript?name=libs/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="http://fit.nuce.edu.vn/document-viewer/GetScript?name=libs/turn.min.js"></script>
    <script type="text/javascript" src="http://fit.nuce.edu.vn/document-viewer/GetScript?name=libs/modernizr.2.6.2.Transform2d.min.js"></script>
    <script type="text/javascript">if (!window.Modernizr.csstransforms)   $.ajax({url: 'http://fit.nuce.edu.vn/document-viewer/GetScript?name=libs/turn.html4.min.js', dataType: 'script', type: 'GET', async: false});</script>
    <script type="text/javascript" src="http://fit.nuce.edu.vn/document-viewer/GetScript?name=installableViewer.min.js"></script>
    <script type="text/javascript">        $.ui.groupdocsViewer.prototype.applicationPath = 'http://fit.nuce.edu.vn/';</script>
    <script type="text/javascript">        $.ui.groupdocsViewer.prototype.useHttpHandlers = false;</script>
    <script type="text/javascript" src="http://fit.nuce.edu.vn/document-viewer/GetScript?name=GroupdocsViewer.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fit.nuce.edu.vn/document-viewer/CSS/GetCss?name=bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://fit.nuce.edu.vn/document-viewer/CSS/GetCss?name=GroupdocsViewer.all.min.css">
    <link rel="stylesheet" type="text/css" href="http://fit.nuce.edu.vn/document-viewer/CSS/GetCss?name=jquery-ui-1.10.3.dialog.min.css">
    <style>
        body {
            overflow: hidden;
        }

        a.thumbs_btn {
            display: none;
        }

        .banner_trial {
        }
    </style>
    <style></style>
    <style></style>
</head>
<body>
    <div id="viewer" style="width: 100%; height: 100%;">
        <div dir="ltr" class="groupdocs_viewer_wrapper grpdx grpdxdocViewer1" style="width: 1910px; height: 953px;">
            <div class="viewer_mainwrapper"
                 style="top: 93px;">
                <div id="docViewer1" class="doc_viewer" style="background-color: inherit;">
                    <div id="docViewer1PagesContainer" class="pages_container html_pages_container" style="height: auto; width: auto;">
                        <div class="doc-page" id="docViewer1-page-1" style="width: 1168px; height: 1662px; overflow: hidden;">
                            <div class="html_page_contents page-image" style="width: auto; transform: scale(1) translateY(0px) rotate(0deg) translateX(0px) translateY(0px);">
                                <style type="text/css">
                                    .grpdx .ie .doc-page {
                                        font-size: 0;
                                    }
                                </style>
                                <div style="width: 1168px; height: auto; font-size: 0">
                                    <iframe style="border : none;" src="~/Images/1. HDSD_STP.pdf"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner_trial" style="top: 61px; height: 32px;"></div>
        </div>
    </div>
</body>
</html>