sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg22htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg22htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg22htm03 {
	position: relative;
	width: 51em;
}
.pg22htm04 {
	height: 6.6em;
}
.ie .pg22htm04 {
	height: 66em;
}
.pg22htm05 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.670699);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"MGGJAB+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=bfe1f33f-0000-0000-0000-000000000000.woff") format("woff");
}
.pg22htm06 {
	font-size: 0.938214em;
	font-family: "MGGJAB+TimesNewRomanPSMT";
	color: #000000;
}
.pg22htm07 {
	line-height: 1.107422em;
}
.pg22htm08 {
	letter-spacing: -0.0009em;
}

.ie .pg22htm08 {
	letter-spacing: -0.0137px;
}
@font-face {
	font-family:"RAJVBK+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=1572f4c9-0000-0000-0000-000000000000.woff") format("woff");
}
.pg22htm09 {
	font-size: 0.938214em;
	font-family: "RAJVBK+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"HCRMFB+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=cc6d2438-0001-0000-0000-000000000000.woff") format("woff");
}
.pg22htm10 {
	font-size: 0.938214em;
	font-family: "HCRMFB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg22htm11 {
	font-size: 1.257198em;
	font-family: "HCRMFB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg22htm12 {
	letter-spacing: -0.0007em;
}

.ie .pg22htm12 {
	letter-spacing: -0.0137px;
}
.pg22htm13 {
	font-size: 1.088328em;
	font-family: "MGGJAB+TimesNewRomanPSMT";
	color: #000000;
}
.pg22htm14 {
	letter-spacing: -0.0008em;
}

.ie .pg22htm14 {
	letter-spacing: -0.0137px;
}
.pg22htm15 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.5);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg22htm16 {
	font-size: 1.088328em;
	font-family: "HCRMFB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg22htm17 {
	letter-spacing: 0.008em;
}

.ie .pg22htm17 {
	letter-spacing: 0.14px;
}
@font-face {
	font-family:"TTTMNK+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d64f1648-0001-0000-0000-000000000000.woff") format("woff");
}
.pg22htm18 {
	font-size: 1.088328em;
	font-family: "TTTMNK+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg22htm19 {
	letter-spacing: 0.0047em;
}

.ie .pg22htm19 {
	letter-spacing: 0.0816px;
}
.pg22htm20 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg22htm21 {
	letter-spacing: 0.0016em;
}

.ie .pg22htm21 {
	letter-spacing: 0.0277px;
}
.pg22htm22 {
	letter-spacing: 0em;
}

.ie .pg22htm22 {
	letter-spacing: 0px;
}
.pg22htm23 {
	letter-spacing: 0.0058em;
}

.ie .pg22htm23 {
	letter-spacing: 0.1007px;
}
.pg22htm24 {
	font-size: 1.088328em;
	font-family: "RAJVBK+TimesNewRomanPSMT";
	color: #000000;
}
.pg22htm25 {
	letter-spacing: 0.005em;
}

.ie .pg22htm25 {
	letter-spacing: 0.0877px;
}
@font-face {
	font-family:"AUCTTS+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=70eb9839-0002-0000-0000-000000000000.woff") format("woff");
}
.pg22htm26 {
	font-size: 1.088328em;
	font-family: "AUCTTS+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg22htm27 {
	letter-spacing: 0.0018em;
}

.ie .pg22htm27 {
	letter-spacing: 0.0307px;
}
.pg22htm28 {
	letter-spacing: 0.0052em;
}

.ie .pg22htm28 {
	letter-spacing: 0.0906px;
}
.pg22htm29 {
	letter-spacing: 0.0028em;
}

.ie .pg22htm29 {
	letter-spacing: 0.0492px;
}
.pg22htm30 {
	letter-spacing: 0.0082em;
}

.ie .pg22htm30 {
	letter-spacing: 0.1429px;
}
.pg22htm31 {
	letter-spacing: 0.0033em;
}

.ie .pg22htm31 {
	letter-spacing: 0.0581px;
}
.pg22htm32 {
	letter-spacing: 0.0066em;
}

.ie .pg22htm32 {
	letter-spacing: 0.1157px;
}
.pg22htm33 {
	letter-spacing: 0.0024em;
}

.ie .pg22htm33 {
	letter-spacing: 0.0422px;
}
.pg22htm34 {
	letter-spacing: 0.0079em;
}

.ie .pg22htm34 {
	letter-spacing: 0.1381px;
}
.pg22htm35 {
	letter-spacing: 0.0087em;
}

.ie .pg22htm35 {
	letter-spacing: 0.1509px;
}
.pg22htm36 {
	letter-spacing: 0.0073em;
}

.ie .pg22htm36 {
	letter-spacing: 0.1275px;
}
.pg22htm37 {
	letter-spacing: 0.0049em;
}

.ie .pg22htm37 {
	letter-spacing: 0.0855px;
}
.pg22htm38 {
	letter-spacing: 0.004em;
}

.ie .pg22htm38 {
	letter-spacing: 0.07px;
}
.pg22htm39 {
	letter-spacing: 0.0076em;
}

.ie .pg22htm39 {
	letter-spacing: 0.1331px;
}
.pg22htm40 {
	letter-spacing: 0.0063em;
}

.ie .pg22htm40 {
	letter-spacing: 0.1099px;
}
.pg22htm41 {
	letter-spacing: 0.0037em;
}

.ie .pg22htm41 {
	letter-spacing: 0.0644px;
}
.pg22htm42 {
	letter-spacing: 0.0078em;
}

.ie .pg22htm42 {
	letter-spacing: 0.1362px;
}
.pg22htm43 {
	letter-spacing: 0.0041em;
}

.ie .pg22htm43 {
	letter-spacing: 0.0711px;
}
.pg22htm44 {
	letter-spacing: 0.0015em;
}

.ie .pg22htm44 {
	letter-spacing: 0.0254px;
}
.pg22htm45 {
	letter-spacing: 0.0077em;
}

.ie .pg22htm45 {
	letter-spacing: 0.1332px;
}
.pg22htm46 {
	letter-spacing: 0.0054em;
}

.ie .pg22htm46 {
	letter-spacing: 0.0949px;
}
.pg22htm47 {
	letter-spacing: 0.0042em;
}

.ie .pg22htm47 {
	letter-spacing: 0.0725px;
}
.pg22htm48 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
