sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg8htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg8htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg8htm03 {
	position: relative;
	width: 51em;
}
.pg8htm04 {
	height: 6.6em;
}
.ie .pg8htm04 {
	height: 66em;
}
.pg8htm05 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"PDVBPO+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=207a9b2e-0000-0000-0000-000000000000.woff") format("woff");
}
.pg8htm06 {
	font-size: 1.088328em;
	font-family: "PDVBPO+TimesNewRomanPSMT";
	color: #000000;
}
.pg8htm07 {
	line-height: 1.107422em;
}
.pg8htm08 {
	letter-spacing: 0.0028em;
}

.ie .pg8htm08 {
	letter-spacing: 0.0486px;
}
@font-face {
	font-family:"DPLIMT+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=8b4f4574-0000-0000-0000-000000000000.woff") format("woff");
}
.pg8htm09 {
	font-size: 1.088328em;
	font-family: "DPLIMT+TimesNewRomanPSMT";
	color: #000000;
}
.pg8htm10 {
	letter-spacing: 0.0039em;
}

.ie .pg8htm10 {
	letter-spacing: 0.0674px;
}
@font-face {
	font-family:"WIMROR+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d652e6e8-0001-0000-0000-000000000000.woff") format("woff");
}
.pg8htm11 {
	font-size: 1.088328em;
	font-family: "WIMROR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg8htm12 {
	letter-spacing: 0.0006em;
}

.ie .pg8htm12 {
	letter-spacing: 0.0103px;
}
@font-face {
	font-family:"QAIPMD+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=2d19edb3-0001-0000-0000-000000000000.woff") format("woff");
}
.pg8htm13 {
	font-size: 1.088328em;
	font-family: "QAIPMD+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg8htm14 {
	letter-spacing: 0.0056em;
}

.ie .pg8htm14 {
	letter-spacing: 0.0967px;
}
.pg8htm15 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-2.4);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg8htm16 {
	letter-spacing: 0.0037em;
}

.ie .pg8htm16 {
	letter-spacing: 0.0648px;
}
.pg8htm17 {
	letter-spacing: 0.0049em;
}

.ie .pg8htm17 {
	letter-spacing: 0.0849px;
}
.pg8htm18 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.8);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg8htm19 {
	letter-spacing: 0.0029em;
}

.ie .pg8htm19 {
	letter-spacing: 0.0502px;
}
.pg8htm20 {
	letter-spacing: 0em;
}

.ie .pg8htm20 {
	letter-spacing: 0px;
}
.pg8htm21 {
	letter-spacing: 0.0053em;
}

.ie .pg8htm21 {
	letter-spacing: 0.0925px;
}
.pg8htm22 {
	letter-spacing: 0.0072em;
}

.ie .pg8htm22 {
	letter-spacing: 0.126px;
}
.pg8htm23 {
	letter-spacing: 0.0027em;
}

.ie .pg8htm23 {
	letter-spacing: 0.0469px;
}
.pg8htm24 {
	letter-spacing: 0.0044em;
}

.ie .pg8htm24 {
	letter-spacing: 0.0761px;
}
.pg8htm25 {
	letter-spacing: 0.0045em;
}

.ie .pg8htm25 {
	letter-spacing: 0.0776px;
}
.pg8htm26 {
	letter-spacing: 0.0018em;
}

.ie .pg8htm26 {
	letter-spacing: 0.0321px;
}
.pg8htm27 {
	letter-spacing: 0.0031em;
}

.ie .pg8htm27 {
	letter-spacing: 0.0548px;
}
.pg8htm28 {
	letter-spacing: 0.005em;
}

.ie .pg8htm28 {
	letter-spacing: 0.0878px;
}
.pg8htm29 {
	letter-spacing: 0.0012em;
}

.ie .pg8htm29 {
	letter-spacing: 0.0203px;
}
.pg8htm30 {
	letter-spacing: 0.0024em;
}

.ie .pg8htm30 {
	letter-spacing: 0.042px;
}
.pg8htm31 {
	letter-spacing: 0.0059em;
}

.ie .pg8htm31 {
	letter-spacing: 0.1033px;
}
.pg8htm32 {
	letter-spacing: 0.0016em;
}

.ie .pg8htm32 {
	letter-spacing: 0.0278px;
}
.pg8htm33 {
	letter-spacing: 0.0026em;
}

.ie .pg8htm33 {
	letter-spacing: 0.0455px;
}
.pg8htm34 {
	letter-spacing: 0.0051em;
}

.ie .pg8htm34 {
	letter-spacing: 0.0888px;
}
.pg8htm35 {
	letter-spacing: 0.0054em;
}

.ie .pg8htm35 {
	letter-spacing: 0.0948px;
}
.pg8htm36 {
	letter-spacing: 0.0036em;
}

.ie .pg8htm36 {
	letter-spacing: 0.0628px;
}
.pg8htm37 {
	letter-spacing: 0.0008em;
}

.ie .pg8htm37 {
	letter-spacing: 0.0143px;
}
.pg8htm38 {
	letter-spacing: 0.0052em;
}

.ie .pg8htm38 {
	letter-spacing: 0.0901px;
}
.pg8htm39 {
	letter-spacing: 0.0025em;
}

.ie .pg8htm39 {
	letter-spacing: 0.0433px;
}
.pg8htm40 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg8htm41 {
	font-size: 0.938214em;
	font-family: "DPLIMT+TimesNewRomanPSMT";
	color: #000000;
}
