sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg16htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg16htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg16htm03 {
	position: relative;
	width: 51em;
}
.pg16htm04 {
	height: 6.6em;
}
.ie .pg16htm04 {
	height: 66em;
}
.pg16htm05 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.670699);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"OPICMM+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=9cb3912d-0001-0000-0000-000000000000.woff") format("woff");
}
.pg16htm06 {
	font-size: 0.938214em;
	font-family: "OPICMM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm07 {
	line-height: 1.107422em;
}
.pg16htm08 {
	letter-spacing: 0.0077em;
}

.ie .pg16htm08 {
	letter-spacing: 0.1149px;
}
@font-face {
	font-family:"KSFUJV+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=367955fc-0001-0000-0000-000000000000.woff") format("woff");
}
.pg16htm09 {
	font-size: 0.938214em;
	font-family: "KSFUJV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm10 {
	font-size: 1.088328em;
	font-family: "OPICMM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm11 {
	letter-spacing: 0.0066em;
}

.ie .pg16htm11 {
	letter-spacing: 0.1149px;
}
.pg16htm12 {
	font-size: 1.257198em;
	font-family: "OPICMM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm13 {
	letter-spacing: 0.0057em;
}

.ie .pg16htm13 {
	letter-spacing: 0.1149px;
}
.pg16htm14 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.0473);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm15 {
	font-size: 0.788091em;
	font-family: "OPICMM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm16 {
	letter-spacing: -0.0059em;
}

.ie .pg16htm16 {
	letter-spacing: -0.0744px;
}
.pg16htm17 {
	font-size: 0.788091em;
	font-family: "KSFUJV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm18 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.3);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm19 {
	letter-spacing: -0.0016em;
}

.ie .pg16htm19 {
	letter-spacing: -0.0245px;
}
.pg16htm20 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm21 {
	letter-spacing: 0.0008em;
}

.ie .pg16htm21 {
	letter-spacing: 0.0121px;
}
.pg16htm22 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.147055);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm23 {
	font-size: 0.863157em;
	font-family: "OPICMM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm24 {
	letter-spacing: -0.0064em;
}

.ie .pg16htm24 {
	letter-spacing: -0.0885px;
}
.pg16htm25 {
	font-size: 0.863157em;
	font-family: "KSFUJV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm26 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.346531);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"VKWTNW+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d6b9c8c0-0000-0000-0000-000000000000.woff") format("woff");
}
.pg16htm27 {
	font-size: 1.013263em;
	font-family: "VKWTNW+TimesNewRomanPSMT";
	color: #000000;
}
.pg16htm28 {
	letter-spacing: 0.003em;
}

.ie .pg16htm28 {
	letter-spacing: 0.0489px;
}
@font-face {
	font-family:"VPHBOK+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=ff674bf4-0000-0000-0000-000000000000.woff") format("woff");
}
.pg16htm29 {
	font-size: 1.013263em;
	font-family: "VPHBOK+TimesNewRomanPSMT";
	color: #000000;
}
.pg16htm30 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.4);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm31 {
	letter-spacing: 0.0029em;
}

.ie .pg16htm31 {
	letter-spacing: 0.0465px;
}
.pg16htm32 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.8);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm33 {
	font-size: 0.938214em;
	font-family: "VPHBOK+TimesNewRomanPSMT";
	color: #000000;
}
.pg16htm34 {
	letter-spacing: -0.004em;
}

.ie .pg16htm34 {
	letter-spacing: -0.0597px;
}
.pg16htm35 {
	font-size: 0.938214em;
	font-family: "VKWTNW+TimesNewRomanPSMT";
	color: #000000;
}
.pg16htm36 {
	letter-spacing: 0em;
}

.ie .pg16htm36 {
	letter-spacing: 0px;
}
.pg16htm37 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm38 {
	letter-spacing: 0.0098em;
}

.ie .pg16htm38 {
	letter-spacing: 0.1701px;
}
.pg16htm39 {
	font-size: 1.088328em;
	font-family: "KSFUJV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg16htm40 {
	font-size: 1.088328em;
	font-family: "VPHBOK+TimesNewRomanPSMT";
	color: #000000;
}
.pg16htm41 {
	letter-spacing: -0.0041em;
}

.ie .pg16htm41 {
	letter-spacing: -0.0616px;
}
.pg16htm42 {
	letter-spacing: -0.0022em;
}

.ie .pg16htm42 {
	letter-spacing: -0.0331px;
}
.pg16htm43 {
	letter-spacing: -0.0007em;
}

.ie .pg16htm43 {
	letter-spacing: -0.0109px;
}
.pg16htm44 {
	letter-spacing: 0.0021em;
}

.ie .pg16htm44 {
	letter-spacing: 0.0321px;
}
.pg16htm45 {
	letter-spacing: 0.0059em;
}

.ie .pg16htm45 {
	letter-spacing: 0.1031px;
}
.pg16htm46 {
	font-size: 1.088328em;
	font-family: "VKWTNW+TimesNewRomanPSMT";
	color: #000000;
}
.pg16htm47 {
	letter-spacing: 0.0043em;
}

.ie .pg16htm47 {
	letter-spacing: 0.0742px;
}
.pg16htm48 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.5);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm49 {
	letter-spacing: 0.0047em;
}

.ie .pg16htm49 {
	letter-spacing: 0.0824px;
}
.pg16htm50 {
	letter-spacing: 0.0063em;
}

.ie .pg16htm50 {
	letter-spacing: 0.1101px;
}
.pg16htm51 {
	letter-spacing: 0.0051em;
}

.ie .pg16htm51 {
	letter-spacing: 0.0884px;
}
.pg16htm52 {
	letter-spacing: 0.0028em;
}

.ie .pg16htm52 {
	letter-spacing: 0.0496px;
}
.pg16htm53 {
	letter-spacing: 0.0079em;
}

.ie .pg16htm53 {
	letter-spacing: 0.1367px;
}
.pg16htm54 {
	letter-spacing: 0.0045em;
}

.ie .pg16htm54 {
	letter-spacing: 0.079px;
}
.pg16htm55 {
	letter-spacing: 0.0064em;
}

.ie .pg16htm55 {
	letter-spacing: 0.1115px;
}
.pg16htm56 {
	letter-spacing: 0.0081em;
}

.ie .pg16htm56 {
	letter-spacing: 0.1413px;
}
.pg16htm57 {
	letter-spacing: 0.0015em;
}

.ie .pg16htm57 {
	letter-spacing: 0.027px;
}
.pg16htm58 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.45904);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"HSKRER+ArialMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=d3f929e1-0000-0000-0000-000000000000.woff") format("woff");
}
.pg16htm59 {
	font-size: 1.088328em;
	font-family: "HSKRER+ArialMT";
	color: #000000;
}
.pg16htm60 {
	line-height: 1.117188em;
}
.pg16htm61 {
	letter-spacing: 0.006em;
}

.ie .pg16htm61 {
	letter-spacing: 0.1052px;
}
.pg16htm62 {
	letter-spacing: 0.0054em;
}

.ie .pg16htm62 {
	letter-spacing: 0.094px;
}
.pg16htm63 {
	letter-spacing: 0.0056em;
}

.ie .pg16htm63 {
	letter-spacing: 0.0974px;
}
.pg16htm64 {
	letter-spacing: 0.0074em;
}

.ie .pg16htm64 {
	letter-spacing: 0.1292px;
}
.pg16htm65 {
	letter-spacing: 0.0065em;
}

.ie .pg16htm65 {
	letter-spacing: 0.1136px;
}
.pg16htm66 {
	letter-spacing: 0.0058em;
}

.ie .pg16htm66 {
	letter-spacing: 0.1002px;
}
.pg16htm67 {
	letter-spacing: 0.0018em;
}

.ie .pg16htm67 {
	letter-spacing: 0.0265px;
}
.pg16htm68 {
	letter-spacing: 0.0085em;
}

.ie .pg16htm68 {
	letter-spacing: 0.1475px;
}
.pg16htm69 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.257793);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg16htm70 {
	font-size: 0.938214em;
	font-family: "HSKRER+ArialMT";
	color: #000000;
}
.pg16htm71 {
	letter-spacing: -0.0008em;
}

.ie .pg16htm71 {
	letter-spacing: -0.0114px;
}
