sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg19htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg19htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg19htm03 {
	position: relative;
}
.pg19htm04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.pg19htm05 {
	position: relative;
	width: 51em;
}
.pg19htm06 {
	height: 6.6em;
}
.ie .pg19htm06 {
	height: 66em;
}
.pg19htm07 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"ACHIFO+TimesNewRomanPS-BoldItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=e0e368e9-0003-0000-0000-000000000000.woff") format("woff");
}
.pg19htm08 {
	font-size: 0.938214em;
	font-family: "ACHIFO+TimesNewRomanPS-BoldItalicMT";
	color: #000000;
}
.pg19htm09 {
	line-height: 1.107422em;
}
.pg19htm10 {
	letter-spacing: 0em;
}

.ie .pg19htm10 {
	letter-spacing: 0px;
}
.pg19htm11 {
	letter-spacing: -0.0026em;
}

.ie .pg19htm11 {
	letter-spacing: -0.0386px;
}
@font-face {
	font-family:"OKFVAN+TimesNewRomanPS-BoldItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=eb3ac6f4-0003-0000-0000-000000000000.woff") format("woff");
}
.pg19htm12 {
	font-size: 0.938214em;
	font-family: "OKFVAN+TimesNewRomanPS-BoldItalicMT";
	color: #000000;
}
@font-face {
	font-family:"CEOEPG+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=aa69e874-0002-0000-0000-000000000000.woff") format("woff");
}
.pg19htm13 {
	font-size: 0.938214em;
	font-family: "CEOEPG+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg19htm14 {
	letter-spacing: 0.005em;
}

.ie .pg19htm14 {
	letter-spacing: 0.0755px;
}
@font-face {
	font-family:"BGUNJH+TimesNewRomanPS-ItalicMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=b8dc4e1c-0002-0000-0000-000000000000.woff") format("woff");
}
.pg19htm15 {
	font-size: 0.938214em;
	font-family: "BGUNJH+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.pg19htm16 {
	letter-spacing: -0.0013em;
}

.ie .pg19htm16 {
	letter-spacing: -0.0201px;
}
.pg19htm17 {
	letter-spacing: 0.0006em;
}

.ie .pg19htm17 {
	letter-spacing: 0.0083px;
}
.pg19htm18 {
	letter-spacing: -0.0014em;
}

.ie .pg19htm18 {
	letter-spacing: -0.021px;
}
.pg19htm19 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-0.6467984);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg19htm20 {
	letter-spacing: 0.0005em;
}

.ie .pg19htm20 {
	letter-spacing: 0.0074px;
}
.pg19htm21 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.0473);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"WKPIEQ+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=1ca93316-0000-0000-0000-000000000000.woff") format("woff");
}
.pg19htm22 {
	font-size: 0.788091em;
	font-family: "WKPIEQ+TimesNewRomanPSMT";
	color: #000000;
}
.pg19htm23 {
	letter-spacing: -0.0035em;
}

.ie .pg19htm23 {
	letter-spacing: -0.0442px;
}
@font-face {
	font-family:"KVOJIJ+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=3d29346c-0000-0000-0000-000000000000.woff") format("woff");
}
.pg19htm24 {
	font-size: 0.788091em;
	font-family: "KVOJIJ+TimesNewRomanPSMT";
	color: #000000;
}
.pg19htm25 {
	letter-spacing: -0.0015em;
}

.ie .pg19htm25 {
	letter-spacing: -0.0226px;
}
.pg19htm26 {
	letter-spacing: -0.0001em;
}

.ie .pg19htm26 {
	letter-spacing: -0.0016px;
}
.pg19htm27 {
	letter-spacing: 0.0049em;
}

.ie .pg19htm27 {
	letter-spacing: 0.0734px;
}
@font-face {
	font-family:"OTCQIV+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=0ae9081a-0001-0000-0000-000000000000.woff") format("woff");
}
.pg19htm28 {
	font-size: 0.938214em;
	font-family: "OTCQIV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg19htm29 {
	letter-spacing: 0.0014em;
}

.ie .pg19htm29 {
	letter-spacing: 0.021px;
}
@font-face {
	font-family:"GLOIML+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=0bf26397-0001-0000-0000-000000000000.woff") format("woff");
}
.pg19htm30 {
	font-size: 0.938214em;
	font-family: "GLOIML+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg19htm31 {
	letter-spacing: 0.0021em;
}

.ie .pg19htm31 {
	letter-spacing: 0.0321px;
}
.pg19htm32 {
	letter-spacing: 0.0058em;
}

.ie .pg19htm32 {
	letter-spacing: 0.0871px;
}
.pg19htm33 {
	letter-spacing: 0.0042em;
}

.ie .pg19htm33 {
	letter-spacing: 0.0633px;
}
.pg19htm34 {
	letter-spacing: 0.0056em;
}

.ie .pg19htm34 {
	letter-spacing: 0.0838px;
}
.pg19htm35 {
	letter-spacing: 0.0052em;
}

.ie .pg19htm35 {
	letter-spacing: 0.0776px;
}
.pg19htm36 {
	letter-spacing: 0.0066em;
}

.ie .pg19htm36 {
	letter-spacing: 0.0998px;
}
.pg19htm37 {
	letter-spacing: 0.0013em;
}

.ie .pg19htm37 {
	letter-spacing: 0.0169px;
}
.pg19htm38 {
	letter-spacing: 0.0002em;
}

.ie .pg19htm38 {
	letter-spacing: 0.0021px;
}
.pg19htm39 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-2.1);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg19htm40 {
	letter-spacing: 0.0041em;
}

.ie .pg19htm40 {
	letter-spacing: 0.0612px;
}
.pg19htm41 {
	letter-spacing: 0.0009em;
}

.ie .pg19htm41 {
	letter-spacing: 0.0134px;
}
.pg19htm42 {
	font-size: 0.938214em;
	font-family: "WKPIEQ+TimesNewRomanPSMT";
	color: #000000;
}
