sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg27htm01 {
	position: absolute;
	white-space: nowrap;
}
.pg27htm02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.pg27htm03 {
	position: relative;
}
.pg27htm04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.pg27htm05 {
	position: relative;
	width: 51em;
}
.pg27htm06 {
	height: 6.6em;
}
.ie .pg27htm06 {
	height: 66em;
}
.pg27htm07 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.0473);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"PGKQQP+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=767fc0c4-0001-0000-0000-000000000000.woff") format("woff");
}
.pg27htm08 {
	font-size: 0.788091em;
	font-family: "PGKQQP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm09 {
	line-height: 1.107422em;
}
.pg27htm10 {
	letter-spacing: -0.0059em;
}

.ie .pg27htm10 {
	letter-spacing: -0.0744px;
}
@font-face {
	font-family:"BRLJHF+TimesNewRomanPS-BoldMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=00488a05-0001-0000-0000-000000000000.woff") format("woff");
}
.pg27htm11 {
	font-size: 0.788091em;
	font-family: "BRLJHF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm12 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.3);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm13 {
	font-size: 0.938214em;
	font-family: "BRLJHF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm14 {
	letter-spacing: -0.0015em;
}

.ie .pg27htm14 {
	letter-spacing: -0.0232px;
}
.pg27htm15 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.246798);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm16 {
	font-size: 0.938214em;
	font-family: "PGKQQP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm17 {
	letter-spacing: 0.0008em;
}

.ie .pg27htm17 {
	letter-spacing: 0.0121px;
}
.pg27htm18 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.147055);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm19 {
	font-size: 0.863157em;
	font-family: "PGKQQP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm20 {
	letter-spacing: -0.0064em;
}

.ie .pg27htm20 {
	letter-spacing: -0.0885px;
}
.pg27htm21 {
	font-size: 0.863157em;
	font-family: "BRLJHF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm22 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.346531);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"AWPAGG+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=6030026b-0000-0000-0000-000000000000.woff") format("woff");
}
.pg27htm23 {
	font-size: 1.013263em;
	font-family: "AWPAGG+TimesNewRomanPSMT";
	color: #000000;
}
.pg27htm24 {
	letter-spacing: 0.003em;
}

.ie .pg27htm24 {
	letter-spacing: 0.0489px;
}
@font-face {
	font-family:"ISRGMR+TimesNewRomanPSMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=ba1c78b9-0000-0000-0000-000000000000.woff") format("woff");
}
.pg27htm25 {
	font-size: 1.013263em;
	font-family: "ISRGMR+TimesNewRomanPSMT";
	color: #000000;
}
.pg27htm26 {
	letter-spacing: 0em;
}

.ie .pg27htm26 {
	letter-spacing: 0px;
}
.pg27htm27 {
	letter-spacing: 0.0029em;
}

.ie .pg27htm27 {
	letter-spacing: 0.0465px;
}
.pg27htm28 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.8);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm29 {
	font-size: 0.938214em;
	font-family: "ISRGMR+TimesNewRomanPSMT";
	color: #000000;
}
.pg27htm30 {
	letter-spacing: -0.004em;
}

.ie .pg27htm30 {
	letter-spacing: -0.0597px;
}
.pg27htm31 {
	font-size: 0.938214em;
	font-family: "AWPAGG+TimesNewRomanPSMT";
	color: #000000;
}
.pg27htm32 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-2.3);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm33 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.446286);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm34 {
	font-size: 1.088328em;
	font-family: "PGKQQP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm35 {
	letter-spacing: 0.0098em;
}

.ie .pg27htm35 {
	letter-spacing: 0.1701px;
}
.pg27htm36 {
	font-size: 1.088328em;
	font-family: "BRLJHF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.pg27htm37 {
	font-size: 1.088328em;
	font-family: "ISRGMR+TimesNewRomanPSMT";
	color: #000000;
}
.pg27htm38 {
	letter-spacing: -0.0026em;
}

.ie .pg27htm38 {
	letter-spacing: -0.0393px;
}
.pg27htm39 {
	letter-spacing: 0.0011em;
}

.ie .pg27htm39 {
	letter-spacing: 0.0158px;
}
.pg27htm40 {
	letter-spacing: 0.0021em;
}

.ie .pg27htm40 {
	letter-spacing: 0.0321px;
}
.pg27htm41 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.5);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm42 {
	font-size: 1.088328em;
	font-family: "AWPAGG+TimesNewRomanPSMT";
	color: #000000;
}
.pg27htm43 {
	letter-spacing: 0.0108em;
}

.ie .pg27htm43 {
	letter-spacing: 0.1881px;
}
.pg27htm44 {
	letter-spacing: 0.0032em;
}

.ie .pg27htm44 {
	letter-spacing: 0.0549px;
}
.pg27htm45 {
	letter-spacing: 0.0048em;
}

.ie .pg27htm45 {
	letter-spacing: 0.0828px;
}
.pg27htm46 {
	letter-spacing: 0.007em;
}

.ie .pg27htm46 {
	letter-spacing: 0.1219px;
}
.pg27htm47 {
	letter-spacing: 0.0027em;
}

.ie .pg27htm47 {
	letter-spacing: 0.0475px;
}
.pg27htm48 {
	letter-spacing: -0.0052em;
}

.ie .pg27htm48 {
	letter-spacing: -0.0777px;
}
.pg27htm49 {
	letter-spacing: -0.0198em;
}

.ie .pg27htm49 {
	letter-spacing: -0.2977px;
}
.pg27htm50 {
	letter-spacing: -0.0079em;
}

.ie .pg27htm50 {
	letter-spacing: -0.1182px;
}
.pg27htm51 {
	letter-spacing: 0.0044em;
}

.ie .pg27htm51 {
	letter-spacing: 0.0661px;
}
.pg27htm52 {
	letter-spacing: -0.0025em;
}

.ie .pg27htm52 {
	letter-spacing: -0.0382px;
}
.pg27htm53 {
	letter-spacing: 0.0072em;
}

.ie .pg27htm53 {
	letter-spacing: 0.1075px;
}
.pg27htm54 {
	letter-spacing: 0.0016em;
}

.ie .pg27htm54 {
	letter-spacing: 0.0234px;
}
.pg27htm55 {
	letter-spacing: 0.0036em;
}

.ie .pg27htm55 {
	letter-spacing: 0.0633px;
}
.pg27htm56 {
	letter-spacing: 0.0089em;
}

.ie .pg27htm56 {
	letter-spacing: 0.1545px;
}
.pg27htm57 {
	letter-spacing: 0.0052em;
}

.ie .pg27htm57 {
	letter-spacing: 0.0901px;
}
.pg27htm58 {
	letter-spacing: 0.0095em;
}

.ie .pg27htm58 {
	letter-spacing: 0.1654px;
}
.pg27htm59 {
	letter-spacing: 0.0067em;
}

.ie .pg27htm59 {
	letter-spacing: 0.1175px;
}
.pg27htm60 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-3.1);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm61 {
	letter-spacing: 0.0053em;
}

.ie .pg27htm61 {
	letter-spacing: 0.0917px;
}
.pg27htm62 {
	letter-spacing: 0.0018em;
}

.ie .pg27htm62 {
	letter-spacing: 0.0265px;
}
.pg27htm63 {
	letter-spacing: 0.0087em;
}

.ie .pg27htm63 {
	letter-spacing: 0.1515px;
}
.pg27htm64 {
	letter-spacing: 0.0043em;
}

.ie .pg27htm64 {
	letter-spacing: 0.0751px;
}
.pg27htm65 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.257793);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
@font-face {
	font-family:"HOFRHH+ArialMT";
	src:url("http://localhost:17488/document-viewer/GetResourceForHtml?documentPath=07-20.1-quyet-dinh-kiem-giang-thinh-giang_2015-06-05-10-45-45.pdf&relativeToOriginal=False&resourcePath=74b1cc86-0000-0000-0000-000000000000.woff") format("woff");
}
.pg27htm66 {
	font-size: 0.938214em;
	font-family: "HOFRHH+ArialMT";
	color: #000000;
}
.pg27htm67 {
	line-height: 1.117188em;
}
.pg27htm68 {
	letter-spacing: -0.0008em;
}

.ie .pg27htm68 {
	letter-spacing: -0.0114px;
}
.pg27htm69 {
	letter-spacing: -0.0031em;
}

.ie .pg27htm69 {
	letter-spacing: -0.0471px;
}
.pg27htm70 {
	transform: scale(1,1.001904);
	-o-transform: scale(1,1.001904);
	-ms-transform: matrix(1,0,0,1.001904,0,-1.45904);
	-moz-transform: scale(1,1.001904);
	-webkit-transform: scale(1,1.001904);
}
.pg27htm71 {
	font-size: 1.088328em;
	font-family: "HOFRHH+ArialMT";
	color: #000000;
}
.pg27htm72 {
	letter-spacing: 0.0009em;
}

.ie .pg27htm72 {
	letter-spacing: 0.0141px;
}
